@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
  max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
  width: 100%;
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
/* Mobile Layout: 200px to 480px */
@media only screen and (min-width: 200px) {
  .gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    font-family: sans-serif;
  }
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-image: url(images/rough_canvas.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
  }
  #articles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: justify;
    padding-top: 31px;
    overflow: scroll;
    position: sticky;
  }
  .img-articles {
    float: none;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  #sidebar {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: justify;
    padding-top: 0;
  }
  .img-sidebar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    font-family: Helvetica, Arial, 'sans-serif';
    color: #600;
    text-align: center;
  }
  #logo {
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .gotoarticle {
    padding-top: 50px;
    margin-top: -50px;
   }
}
/* Tablet Layout: 481px to 835px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
  .gridContainer {
    width: 95%;
    padding-left: 0.4891%;
    padding-right: 0.4891%;
    font-family: sans-serif;
  }
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-image: url(images/rough_canvas.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
		padding-bottom: 10px;
    padding-top: 10px;
  }
  #articles {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    color: #000;
    text-align: justify;
    padding-top: 97px;
    overflow: scroll;
    position: sticky;
  }
  .img-articles {
    float: right;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #sidebar {
    float: right;
    width: 100%;
    display: block;
    color: #000;
    text-align: justify;
  }
  .img-sidebar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    font-family: Helvetica, Arial, 'sans-serif';
    color: #600;
    text-align: center;
  }
  #logo {
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .gotoarticle {
    padding-top: 91.6px;
    margin-top: -91.6px;
   }
}

/* Desktop Layout: 1081px to a max of 1232px.  Resume Desktop Layout to max 1232px. */
@media (min-width: 835px) {
  .gridContainer {
    width: 95%;
    padding-left: 0.4891%;
    padding-right: 0.4891%;
    margin: auto;
    font-family: sans-serif;
  }
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-image: url(images/rough_canvas.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
		padding-bottom: 10px;
    padding-top: 10px;
  }
  #articles {
    clear: both;
    float: left;
    margin-left: 0;
    width: 68%;
    display: block;
    color: #000;
    text-align: justify;
    font-family: sans-serif;
    padding-top: 111.1px;
    overflow: scroll;
    position: sticky;
  }
  .img-articles {
    float: right;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #sidebar {
    float: right;
    width: 30%;
    display: block;
    text-align: justify;
    margin-right: 0px;
    font-family: sans-serif;
    overflow: scroll;
    position: sticky;
    top: 106px;
    height: 100vh;
  }
  .img-sidebar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    font-family: Helvetica, Arial, 'sans-serif';
    color: #600;
    text-align: center;
  }
  #logo {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .gotoarticle {
    padding-top: 131.1px;
    margin-top: -131.1px;
   }
}
